<div class="container" style="background-color: #f8f8f8;">
    <h2>Kundehenvendelser</h2>
    <h4>Alle kundehenvendelser fra databasen er listet i tabellen under. Du kan sortere i stigende eller synkende rekkefølge i samtlige kolonner. Leter du etter et spesifikk spørsmål kan du bruke søkebaren for å finne det</h4>
 </div>
<div class="container control-group">
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-7">
                        <h4>Alle henvendelser</h4>
                    </div>
                    <div class="col-md-5">
                        <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Søk etter spørsmål" />
                    </div>
                </div>
            </div>

            <table class="table table-striped">
                <tr>
                    <th class="pointer" (click)="sort('Id')">
                        Id
                        <i class="fa" [ngClass]="{'fa-sort': column != 'Id', 'fa-sort-asc': (column == 'Id' && isDesc), 'fa-sort-desc': (column == 'Id' && !isDesc) }" aria-hidden="true"> </i>
                    </th>
                    <th class="pointer" (click)="sort('Date')">
                        Date
                        <i class="fa" [ngClass]="{'fa-sort': column != 'Date', 'fa-sort-asc': (column == 'Date' && isDesc), 'fa-sort-desc': (column == 'Date' && !isDesc) }" aria-hidden="true"> </i>
                    </th>
                    <th class="pointer" (click)="sort('Name')">
                        Tittel
                        <i class="fa" [ngClass]="{'fa-sort': column != 'Name', 'fa-sort-asc': (column == 'Name' && isDesc), 'fa-sort-desc': (column == 'Name' && !isDesc) }" aria-hidden="true"> </i>
                    </th>
                    <th class="pointer" (click)="sort('Email')">
                        Email
                        <i class="fa" [ngClass]="{'fa-sort': column != 'Email', 'fa-sort-asc': (column == 'Email' && isDesc), 'fa-sort-desc': (column == 'Email' && !isDesc) }" aria-hidden="true"> </i>
                    </th>
                    <th class="pointer" (click)="sort('Question')">
                        Question
                        <i class="fa" [ngClass]="{'fa-sort': column != 'Question', 'fa-sort-asc': (column == 'Question' && isDesc), 'fa-sort-desc': (column == 'Question' && !isDesc) }" aria-hidden="true"> </i>
                    </th>
                    <th class="pointer" (click)="sort('Answer')">
                        Answer
                        <i class="fa" [ngClass]="{'fa-sort': column != 'Answer', 'fa-sort-asc': (column == 'Answer' && isDesc), 'fa-sort-desc': (column == 'Answer' && !isDesc) }" aria-hidden="true"> </i>
                    </th>
                </tr>
                <tr *ngFor="let quest of allQuestions | question: searchText  |  orderBy: {property: column, direction: direction}">
                    <td><p>{{quest.Id}}</p></td>
                    <td><p>{{quest.Date}}</p></td>
                    <td><p>{{quest.Name}}</p></td>
                    <td><p>{{quest.Email}}</p></td>
                    <td><p>{{quest.Question}}</p></td>
                    <td><p>{{quest?.Answer}}</p></td>
                </tr>
            </table>`
        </div>
    </div>
</div>


